*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.top{

    display: flex;
    height: 60px;
    margin: 10px;
}

.logo{

    width: 30%;
    background-color: silver;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;

}

.nav{

    width: 70%;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;

}

.head{

        height: 120px;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
        margin: 10px;

}


.intro{

        height: 80px;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
        margin: 10px;
}


.box123{

    display: flex;
    justify-content:space-between;
    margin: 10px;
}

.box{

        height: 180px;
        width: 32%;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
}

.footer{

     height: 60px;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
        margin: 10px;
}




