.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    border:2px solid black;
    
}

.item1{

    background-color: rgb(84, 238, 84);
    padding:30px;
    text-align: center;
}

.item2{

    background-color: rgb(94, 197, 94);
    padding:30px;
    text-align: center;
}

.item3{

    background-color: rgb(40, 160, 40);
    padding:30px;
    text-align: center;
}

.item4{

    background-color: rgb(8, 71, 8);
    padding:30px;
    text-align: center;

}

@media (min-width:768px){
    .container{
        grid-template-columns: 1fr 1fr;
        
    }
}

@media (min-width:1024px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/*  */
/*  */

.b{
    display:grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    padding:20px; 
}

.box{
    background-color: chocolate;
    text-align: center;
    padding: 40px;

}

@media (min-width:600px){
   .b{
       grid-template-columns: 1fr 1fr;
       background-color: darkred;
   } 

}

@media (min-width:1024){
    .b{
        grid-template-columns: 1fr 1fr 1fr;
        background-color: darkblue;
    }
}

/*  */
/*  */

#type{
    display:grid;
    padding: 10px;
    grid-gap:7px;
}

.o{
    background-color: rgb(236, 209, 55);
    color: crimson;
    padding: 20px;
    text-align: center;
    font-size: x-large;

}

@media (orientation: portrait) {
    #type{
        grid-template-columns: 1fr;
        background-color: darkcyan;
    }
}

@media (orientation: landscape) and (min-width:768px) {
    #type{
        grid-template-columns: 1fr 1fr 1fr;
        background-color: darkslateblue;
    }
}


/*  */
/*  */

.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    background-color: black;
    padding: 20px;
    /* border: 4px solid orange; */
    font-weight: bold;
    color: darkmagenta;
}

.card{
    background-color:chartreuse;
    padding: 10px;
    text-align: center;
    font-size: larger;
}

@media (min-width: 768px){
    .dashboard{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1024px){
    .dashboard{
        grid-template-columns: repeat(4, 1fr);
    }
    .card1{
        grid-column: span 2;
    }
    .card2{
        grid-column: span 3;
    }
    .card3{
        grid-column: span 4;
    }
}