           /* TASK-1 */
 .a{
        display: flex;
        flex-direction: column;
        
    }
       
    .l{
        box-sizing: border-box;
        background-color: silver;
        text-align: left;
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
    }

    .n{

        box-sizing: border-box;
        background-color: silver;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        padding: 15px;
        display: flex;


    }

    .h{

        box-sizing: border-box;
        background-color: silver;
        text-align: center;
        width: 100%;
        
        padding: 35px;
        margin-bottom: 10px;

    }

    .b{

        display: flex;
        flex-direction: row;
        
    }


    .s{

        box-sizing: border-box;
        background-color: silver;
        text-align: center;
        height: 500px;
        width: 25%;
        padding:170px;
        margin-bottom:5px ;
        justify-content: center;
        display: flex;
        

    }

    .r{

        box-sizing: border-box;
        background-color: silver;
        text-align: center;
        height: 500px;
        width: 75%; 
        padding : 150px;
        margin-left: 5px;
        justify-content: center;
        display: flex;
        

    }

    

    .f{
        
        display: flex;
        box-sizing: border-box;
        background-color: silver;
        text-align: center;
        padding: 15px;
        /* margin:4px; */
        width: 100%;

    }
    
   /* TASK-2 */

.top{

    display: flex;
    height: 60px;
    margin: 10px;
}

.logo{

    width: 30%;
    background-color: silver;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.nav{

    width: 70%;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;

}

.head{

        height: 120px;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
        margin: 10px;

}


.intro{

        height: 80px;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
        margin: 10px;
}


.box123{

    display: flex;
    justify-content:space-between;
    margin: 10px;
}

.box{

        height: 180px;
        width: 32%;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
}

.footer{

     height: 60px;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
        margin: 10px;
}

 /* TASK-3 */

 
        

        .container{
            width:80%;
            margin: 20px;
            padding: 10px;
            /* background-color:whitesmoke; */
        }

        .logo1{

            background-color: silver;
            padding:15px;
            font-size: 20px;
            margin-bottom: 10px;

        }

        .main{
            display:flex;
            
            margin-bottom: 10px;
        }

        .side1{
            width:30%;
            /* background-color: white; */
            padding: 20px;
            height:300px
        }

        .right{
            width:70%;
            margin-left: 10px;
        }

        .header1{

            background-color: silver;
            margin-top:10px;
            height:75px;
            display: flex;
            padding: 80px;
            text-align: center;
            justify-content: center;
            
        }

        .body1{
            background-color: silver;
            margin-top:10px;
            height:225px;
            display: flex;
            justify-content: center;
            padding: 80px;
            text-align: center;
        }

        .footer1{
            background-color: silver;
            padding:15px;
            text-align: center;
            margin-top: 10px;
        }

        /* TASK-4 */


.a1{

    display: flex;
    height: 60px;
    margin: 10px;
    width:100%;
    box-sizing: border-box;
}

.Logo{

    width: 30%;
    background-color: silver;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;

}

.Nav{

    width: 70%;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Content{
    display: flex;
    flex-direction: row;justify-content: space-between;
    margin-bottom: 5px;
    padding:10px;
    width:100%;
    gap:10px;
    
   
}

.i{
    background-color: silver;
    width:25%;
    height:70px;
    text-align: center;
   
}

.Box123{

    display: flex;
    justify-content:space-between;
    margin: 5px;
    width: 100%;
}

.Box{

        height: 180px;
        width: 32%;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
        box-sizing: border-box;
}

.Footer{

        height: 60px;
        display: flex;
        align-items: center ;
        justify-content: center;
        background-color: silver;
        margin: 10px;
        width:100%
}
/* 
.layout{

    display:flex;
    padding: 35px;
    box-sizing: border-box;
    align-content: center; 

}  */




   